---
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import Main from "@/layouts/Main.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Main
  title={"Notes on Nerd Blog"}
  description={"Stay up to date with the latest notes and features"}
>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <img src={post.data.heroImage} alt={post.data.title} />
              <h4>{post.data.title}</h4>
              <p>
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Main>

<style>
  section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4;
  }

  li {
    padding: 20px;
    border: solid var(--primary);
    margin: 5px;
    border-radius: 20px;
  }

  img {
    width: 300px;
  }
</style>
